@class-prefix-water-sphere: ~'cdu-water-sphere';

.@{class-prefix-water-sphere} {
    --bg-color: '#f7f7f7';
    --font-color: '#002EFF';
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .content {
        position: relative;
        margin: auto;

        .canvas {
            transform: scale(0.5);
            transform-origin: 0 0;
            border-radius: 50%;
            background-color: var(--bg-color, #f7f7f7);
        }

        .info {
            position: absolute;
            width: 100%;
            top: 50%;
            text-align: center;
            font-family: PingFangSC-Semibold;
            font-size: 20px;
            color: var(--font-color, #002EFF);
            transform: translate(0, -50%);
        }
    }
}